html body {
	font-size:100%;
    font-family: Bradley Hand, cursive, sans-serif;
    background-color: cornflowerblue;
}
.text-center ~h1{
    color: rgb(255, 102, 0);
}
@media screen and (min-width: 640px) {
    .text {
		font-size: 1.3rem;
		  }
	}
/* Image de la cigogne, page d'accueil */
#imgCigogne {
    position: relative, center;
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
}
/* Image de la cigogne, page événements */
#imgCigogne2 {
    position: relative, center;
    float: left;
    width: 350px;
    height: 350px;
}
/*Ajout de media querie pour jouer l'animation à partir de 768px*/
@media screen and (min-width: 768px) {
    .animate-transform {
        text-align: center;
        animation: 5s goRight; 
        margin: 30px;
    }
    @keyframes goRight {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(30%);
        }
    }
}
footer nav {
    margin: 30px;
}
.title {
    text-align: center;
    padding-top: 30px;
}
@media screen and (max-width: 576px){
    iframe {
        float:"normal";      
        width:"100px";
        height:"100px";
    }
}
.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#menu, #footer{
    background-color: lightgray;
}
#socialNetwork {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}
#accordion, #presentation{
    padding: 30px;
}
#collapseOne, #collapseTwo, #collapseThree {
    background-color: cornflowerblue;
}