html body {
	font-size:100%;
    font-family: Bradley Hand, cursive, sans-serif;
    background-color: cornflowerblue;
}
@media screen and (min-width: 640px) {
    .text {
		font-size: 1.3rem;
		  }
	}
.section .container {
    text-align: justify;
    font-size: Bradley Hand, cursive, sans-serif;
    padding: 80px;
    margin: 100px;
}
/* Image de la cigogne, page d'accueil */
#imgCigogne {
    position: relative, center;
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
}
/* Image de la cigogne, page événements */
#imgCigogne2 {
    position: relative, center;
    float: left;
    width: 350px;
    height: 350px;
}
.container {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .animate-transform {
        text-align: center;
        animation: 5s goRight; 
        margin: 30px;
    }
    @keyframes goRight {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(30%);
        }
    }
}

#evenement .row {
    border-bottom: 1px solid black;
    text-align: justify;
    text-align: center;
}
#titleTable{
    font-weight: bold;
    font-size: 2rem;
}
footer {
    margin: 30px;
}
nav {
    margin: 60px;
}
.title {
    text-align: center;
    padding-top: 30px;
}

.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#menu {
    background-color: lightgray;
}
#socialNetwork {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}
#footer {
    background-color: lightgray;
}
#accordion {
    padding: 30px;
}
#collapseOne, #collapseTwo, #collapseThree {
    background-color: cornflowerblue;
}
#presentation {
    padding: 30px;
}